{% extends 'homepage.html' %}
{% block addcss %}
    
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Notesid</th>
                <th>Title</th>
                <th>link</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr> 
                
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td><a href="{{url_for('viewnotes',notesid=i[0])}}">view</a></td>
                <td><a href="{{url_for('update',notesid=i[0])}}">update</a></td>
                <td><a href="{{url_for('delete',notesid=i[0])}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
{%  endblock content %} 
    
